.parent {
    background-color:whitesmoke;
    display: flex;
    justify-content: space-between;
    border:2px solid white ;
    padding-left:30px; 
    padding-right: 30px;
    padding-top:15px;
    box-shadow: 0px 2px 3px grey;
}
.gparent{
    position: fixed;
    top:0;
    width:100%;
    z-index: 1;
}
.active {
        position: relative;
        right:65px;
}

    

.child-second {
    margin-left: 25px;
}

#stories {
    font-family: 'Great Vibes', cursive;
}

.child {
    cursor: pointer;
}
#icon {
    margin-right: 5px;
    position: relative;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
#icon-2 { 
    position:relative;
    top:10px;
}
.second {
    margin-right:200px;
}
.active
{    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    color: white;
    border: white;
    background-color: rgb(11, 11, 176);
    background: linear-gradient(to right,rgb(11, 11, 176),rgb(75, 75, 254),rgb(119, 119, 223),rgb(199, 199, 245),rgb(11, 11, 176));
}


#image {
    height: 10px;
    width: 10px;
}
#text {
     width: 270px;
     
     margin-left: 150px;
     opacity: 0.5;
     font-weight: bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     letter-spacing: 1px;
}
#mheading
{ margin-left:180px;
        margin-top:90px;
        font-size:xx-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.middle {
        
        margin-left: 180px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        position: relative;
        right:106px;
}
#middle-c {
        
        cursor: pointer;
        width:600px;
        height:350px;
        margin-right: 5px;
    
}
a:hover { 
        background-color: silver ;
         color:white;
         opacity: 0.8;
}

.center {
        width:250px;
        height:150px;
        cursor: pointer;
}
.heading-2 {
        margin-top: 100px;
        margin-left: 180px;
        font-size:x-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
}
#pic {
        width:20px;
        height:20px;
}
.h-4 {
        display: flex;
}
.p-click {
        margin-left: 180px;
}
.click {
        border-radius: 10px;
        padding: 5px;
        background-color: white;
        border:2px solid blue;
        cursor: pointer;
        margin-bottom: 5px;
}
.click:hover {
        background-color: blue;
        color:white;
}
.card-1 {
        display: flex;
        justify-content:start;
        margin-top:20px;
        margin-left:180px;
}
.card-2 {
        width:280px;
        height: 520px;
       box-shadow: 2px 5px 5px grey;
       border:1px solid blue;
       border-radius: 5px;
        margin:5px;
        padding:10px;
        cursor: pointer;
        
}
.new {
        height:30px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        
}
.para {
       
        word-wrap: break-word;
        color:grey;
        margin-top: 5px;
}
.f-parent {
        margin-top: 50px;
        border:1px solid red;
        height:400px;
        display: flex;
        justify-content: center;
        padding: 120px;
        background-color: darkcyan;
}      
.c-parent {
        width:200px;
        color:white;
        cursor:pointer;
}
